name: Deploy to Azure Container Apps

on:
  workflow_dispatch:
  push:
    branches:
      - deploy

env:
  AZURE_RESOURCE_GROUP: gh-demo
  AZURE_CONTAINER_REGISTRY: acrghdemorlacf


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0.x'

      - name: Build the application
        run: dotnet build SampleApp/SampleApp.sln --configuration Release 

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io
          username: ${{ secrets.AZURE_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_REGISTRY_PASSWORD }}

      - name: Build and push Docker image to ACR-backend
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/backend:latest, ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/backend:${{ github.sha }}
          file: SampleApp/Backend/Dockerfile


      - name: Build and push Docker image to ACR-frontend
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/frontend:latest, ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/frontend:${{ github.sha }}
          file: SampleApp/Frontend/Dockerfile

      - name: Azure CLI Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Container Apps
        uses: azure/container-apps-deploy@v1
        with:
            resourceGroup: ${{ env.AZURE_RESOURCE_GROUP }}
            containerAppName: backend
            imageToDeploy: ${{ env.AZURE_CONTAINER_REGISTRY }}.azurecr.io/backend:latest